* {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
}

.container {
  width: 100%;
}

table {
  border-collapse: collapse;
}

table tr,
th,
td {
  border: 1px solid #cccccc;
}

table tr th,
td {
  padding-left: 10px;
}

.tableOrder {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  padding: 20px;
}

.tableOrder thead {
  text-align: justify;
}

.tableOrder tbody tr td:first-child {
  width: 80px;
}

.table-child tr td {
  width: 20px;
  height: 20px;
}

.table-child i {
  padding: 0;
}

.table-child tr td:last-child {
  background-color: red;
  color: #ffffff;
}

.tableOrder tbody tr td:first-child img {
  width: 100%;
}

.tableOrder tfoot tr td:first-child {
  text-align: end;
  padding-right: 5px;
}
