* {
    font-family: 'Titillium Web',
        sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.header {}

.acticle {}

table {}

table thead {}

table tbody {}

table tfoot {}

.footer {
    background-color: #999999;
    color: #ffffff;
}

#myModal {}

.modal-body {}

.modal-body ul {
    list-style-type: none;
}

.modal-body ul li {
    padding: 5px 0px;
}

.modal-body input {
    width: 100%;
    padding-left: 10px;
}

.modal-body span {
    color: red;
    font-size: 12px;
}